div.userCard {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

wired-image {
    width: 15rem;
}

div.userCard > div {
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem;
    flex: 1 1 auto;
}

div.userCard > div > div {
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
}

div.userCard > div > div > span:first-of-type {
    font-weight: bold;
}

@media (min-width: 220px) and (max-width: 1024px) {
    div.userCard > div {
        padding: 0rem 0.5rem;
    }

    div.userCard > div > div {
        flex-direction: column;
    }
}