.user-content {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
}

div.card {
    margin-bottom: 1rem;
}

div.card-header h4 {
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}

div.card-body {
    display: flex;
    flex-direction: column;
    flex: content;
}

div.card-body > div {
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
}

div.card-body > div > span:first-of-type {
    font-weight: bold;
    padding-right: 1rem;
}

@media (min-width: 220px) and (max-width: 1024px) {
    /*div.userCard > div {
        padding: 0rem 0.5rem;
    }

    div.userCard > div > div {
        flex-direction: column;
    }*/
}